html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #ccc;
}

.wrap {
    display: block;
    width: 100%;
    font-size: 0;
    letter-spacing: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap > * {
    display: inline-block;
    vertical-align: top;
}

.col {
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.peptides-dosage-calculator-area {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    width: calc(100% - 16px);
    max-width: 768px;
    text-size-adjust: 100%;
    color: rgb(33, 33, 33);
    font-size: 16px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

form.form-peptides-dosage-calculator {
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 3px 4px #ccc;
    .syringe-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Sütunların boyutunu ve sayısını ayarlar */
        gap: 15px; /* Hücreler arasındaki boşluk */
        margin: 10px 0;
        .syringe-image-item {
            cursor: pointer;
            padding: 5px 9px;
            height: 55px;
            transition: all 0.100s;
            &.selected {
                border-radius: 4px;
                border: 2px solid #f26822;
                box-shadow: 1px 0px 5px 0px #d26822;
            }
        }
    }

    .button {
        cursor: pointer;
        padding: 10px 15px;
    }
}

.result-box {
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    margin: 0 -40px;
    .result-area {
        padding: 40px;
        text-align: left;
        .result-text {
            margin: 0px auto 20px;
            font-weight: 600;
            font-size: 31px;
            font-family: Montserrat, sans-serif;
            text-align: center;
        }
        .result-rule-box {
            position: relative;
            margin: 0px auto;
            .result-rule-image {
                height: 100%;
                width: 100%;
            }
            .result-rule-level {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 3.33333%;
                height: 100%;
                background-color: rgba(160, 160, 160, 0.3);
            }
        }
        
    }
}


img {
    max-width: 100%; /* Resimlerin maksimum genişliğini içinde bulunduğu div'in genişliği kadar yapar */
    height: auto;
}

@media screen and (max-width: 768px) {
    /* Tablet boyutu için media query */
    .syringe-image-item {
        flex-basis: calc(50% - 20px); /* Tablette iki resim yan yana olacak şekilde genişlik ayarı */
    }
}

@media screen and (max-width: 480px) {
    /* Mobil boyutu için media query */
    .syringe-image-item {
        flex-basis: calc(100% - 20px); /* Mobilde resimlerin tam genişlikte olmasını sağlar */
    }
}

/* Custom Bootstrap Form Grup Stili */
.form-row {
    margin-top: 20px;
    margin-bottom: 20px; /* Form grupları arasındaki boşluğu ayarlar */
}

.form-row label {
    display: block; /* Etiketleri blok elementi olarak görüntüler */
    margin-bottom: 5px; /* Etiketlerin altındaki boşluğu ayarlar */
    font-weight: bold; /* Etiket yazı tipini kalın yapar */
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%; /* Giriş alanlarını genişliğini ayarlar */
    padding: 10px; /* Giriş alanlarının dolgusunu ayarlar */
    border-radius: 5px; /* Giriş alanlarının köşelerini yuvarlar */
    border: 1px solid #ccc; /* Giriş alanlarının kenarlık rengini ve kalınlığını ayarlar */
    box-sizing: border-box; /* Giriş alanlarının kutu modelini içeriden dışarıya yapar */
}

.form-row select {
    height: 40px; /* Seçim alanının yüksekliğini ayarlar */
}

.form-row textarea {
    resize: vertical; /* Metin alanının yalnızca dikey yeniden boyutlandırılmasını sağlar */
}

.form-row .form-control:focus {
    border-color: #007bff; /* Odaklanıldığında giriş alanının kenarlık rengini değiştirir */
    outline: 0; /* Odaklanıldığında giriş alanının varsayılan vurgusunu kaldırır */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Odaklanıldığında giriş alanına gölge ekler */
}


footer {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    a {
        text-decoration: none;
        color: #000;
        transition: all 0.400s;
        &:hover {
            opacity: 0.5;
        }
    }
}